@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

body {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}
.avatar-sm {
  width: 60px;
  height: 60px;
}
.avatar-md {
  width: 200px;
  cursor: pointer;
}