@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

body {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}
.product {
  background-color: #F5F5F5;
}
.card-body {
  font-size: .75rem;
}
.card img {
  width: 200px;
  height: 200px;
}
.card img {
  transition: all 0.3s ease;
}
.card:hover img {
  transform: scale(1.1);
}

.link-custom {
  position: relative;
}
.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all .4s;
}
.link-custom:hover::after {
  width: 100%;
}
.new-arrivals {
  background-color: #A5A5A5;
}
.bg-color {
  background-color: #d4d4d4;
}
.text-color {
  color: rgb(148, 193, 15);
}
.text-min {
  /* font-size: .8rem; */
  color: #9F9F9F;
}
.overlay-left, .overlay-right {
  transform: translateY(-120%);
  transition: all 0.5s ease ;

}
.card:hover .overlay-left {
  transform: translateX(0%);
}
.card:hover .overlay-right {
  transform: translateY(0%);
}
.cart-color {
  background-color: #FFF9E5;
}
.cart-banner {
  background: url(assest/image/cart-banner.png);
}
.shop-banner {
  background: url(assest/image/shop.png);
}
.checkout-banner {
  background: url(assest/image/checkout-banner.png);
}
.like-banner {
  background: url(assest/image/contact.png);
}
.nav-pills li:hover {
  color: #FFC42A;
  background-color: #FFC42A;
  border-radius: 5px;
  cursor: pointer;
}
.active {
  background-color: #9F9F9F;
  border-radius: 5px;
}
.avatar {
  width: 40px;
  border-radius: 20px;
}
